/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .retour{
        
    -fx-background-color:#1BBAE4;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;

    }
}
